# DataBase
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE=products-api
DB_PORT=5432
DB_HOST=localhost

# Wompi
WOMPI_API_URL=
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENTS_KEY=
WOMPI_INTEGRITY_KEY=
# Unsplash
UNSPLASH_API_URL=
UNSPLASH_ACCESS_KEY=